<ion-header>
  <ion-toolbar color="primary"  mode="ios">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/task" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Task Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="token?.role_name === 'ADMIN' || token?.role_name === 'SUPER_ADMIN' || token?.role_name ==='USER_ADMIN'" expand="full" (click)="onAddSubTask()">Add Sub Task</ion-button>
  <ion-button *ngIf="token?.role_name === 'ADMIN' || token?.role_name === 'SUPER_ADMIN' || token?.role_name ==='USER_ADMIN'" expand="full" (click)="onChangeRequest()">Chnage Request</ion-button>
  <ion-button *ngIf="token?.role_name === 'ADMIN' || token?.role_name === 'SUPER_ADMIN' || token?.role_name ==='USER_ADMIN'" expand="full" (click)="onUpdateTask()">Update Task</ion-button>
  <!-- <form [formGroup]="editTask">

    <ion-item>
      <ion-label position="floating">Task Title</ion-label>
      <ion-input formControlName="task_title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Project Title</ion-label>
      <ion-input formControlName="category_id"  ></ion-input>
    </ion-item>
  </form> -->
  <!-- <ion-card> -->
    <!-- <ion-card-header> -->

    <!-- </ion-card-header> -->
    <!-- <ion-card-content > -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{singleTask?.task_title}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="sp">Project:</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{singleTask?.project_title}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="sp">Category: </span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{singleTask?.category}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="sp">Description: </span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{singleTask?.description}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="sp">Start Date: </span></ion-col>
          <ion-col><span class="sp">End Date: </span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{singleTask?.start_date | date: 'dd/MM/yyyy'}}</ion-col>
          <ion-col>{{singleTask?.end_date | date: 'dd/MM/yyyy'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="singleTask?.days_left >= 1">
            <span class="sp">Days Left: </span>{{singleTask?.days_left}}
          </ion-col>
          <ion-col *ngIf="singleTask?.days_left < 1">
            <span class="sp">Overdue: </span> <span *ngIf="singleTask?.days_left < 1 "><strong style="color:red">{{-singleTask?.days_left}}</strong></span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="sp">Priority: </span></ion-col>
          <ion-col><span class="sp">Task Status: </span><strong></strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><strong>{{singleTask?.task_priority}}</strong></ion-col>
          <ion-col><strong>{{singleTask?.task_status}}</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="sp">Completion: </span>0 %</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="sp">Sub Task:</span>
          </ion-col>
        </ion-row>
        <!-- <ion-row > -->
          <!-- <ion-col> -->
            <ion-list   *ngFor="let subtask of singleTask?.sub_tasks">
              <ion-item (click)="onSubTaskDetails(subtask?.sub_task_id)">
                <ion-label>{{subtask?.sub_task_title}}</ion-label>
              </ion-item>
            </ion-list>
          <!-- </ion-col> -->
        <!-- </ion-row> -->
      </ion-grid>
    <!-- </ion-card-content>
  </ion-card> -->
</ion-content>
<!-- <ion-footer>
  <ion-item>
    <ion-textarea placeholder="comments"></ion-textarea>
    <ion-icon name="send-outline" class="icon-input"></ion-icon>
  </ion-item>
</ion-footer> -->
