.link{
  color: #428cff;
}
.link:hover{
  color: #428cff;
}
.center{
    text-align:center;
    margin-top: 17px;
}
.alignme {
  text-align: center !important;
}

ion-card-title {
  font-size: medium;
  margin-bottom: -10px;
}
