<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="/tabs/task" slot="start"></ion-back-button>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createTask" (ngSubmit)="createTaskSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div padding>
            <ion-item>
              <ion-input
                type="text"
                formControlName="task_title"
                placeholder="Task Title"
                required></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createTask.controls['task_title'].valid && createTask.controls['task_title'].touched">
              Task title is required.
            </span>
            <ion-item>
              <!-- <input
                list="projects"
                placeholder="Choose Projects"
                formControlName="project_id"
                required/>
              <datalist id="projects">
                <option *ngFor="let pItem of allProjects">
                  {{pItem.project_title}}
                </option>
              </datalist> -->
              <!-- <ionic-selectable item-content formControlName="project_id" itemValueField="id" itemTextField="name" items="ports" canSearch="true"
              (onChange)="projectChange()">
             </ionic-selectable> -->
              <ion-select
              placeholder="Choose Projects"
              formControlName="project_id"
              required>
              <ion-select-option
              *ngFor="let pItem of allProjects"
                [value]="pItem.project_id"
                >
                {{pItem.project_title}}</ion-select-option
              >
            </ion-select>
            </ion-item>
            <span  class="error ion-padding" *ngIf="!createTask.controls['project_id'].valid && createTask.controls['project_id'].touched">
              Project required.
            </span>
            <ion-item>
              <ion-textarea
                formControlName="description"
                placeholder="Description"
                ></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-select
                placeholder="Select Users"
                formControlName="user_id"
                multiple="true"
                required>
                <ion-select-option
                  *ngFor="let user of allUsers"
                  [value]="user.user_id"
                >
                  {{user.first_name}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createTask.controls['user_id'].valid && createTask.controls['user_id'].touched">
              User required.
            </span>
            <ion-item>
              <ion-select
                placeholder="Select Task Priority"
                formControlName="task_priority"
                required>
                <ion-select-option
                  *ngFor="let task of taskPriorities"
                  [value]="task.task_priority"
                required>
                  {{task.task_priority}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createTask.controls['task_priority'].valid && createTask.controls['task_priority'].touched">
              Task Priority is required.
            </span>
            <ion-item>
              <ion-select
                placeholder="Select Task Interval"
                formControlName="task_interval"
                required>
                <ion-select-option
                  *ngFor="let item of intervals"
                  [value]="item.task_interval"
                  >
                  {{item.task_interval}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createTask.controls['task_interval'].valid && createTask.controls['task_interval'].touched">
              Task Interval is required.
            </span>
            <ion-item>
              <ion-input [value]="dateValue2" placeholder="Choose Start Date"  formControlName="start_date" required></ion-input>
              <ion-button fill="clear" id="open-date-input-2">
                <ion-icon icon="calendar"></ion-icon>
              </ion-button>
              <ion-popover trigger="open-date-input-2" show-backdrop="false">
                <ng-template>
                  <ion-datetime
                    #popoverDatetime2
                    presentation="date"
                    (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
                  ></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createTask.controls['start_date'].valid && createTask.controls['start_date'].touched">
              Start Date is required.
            </span>
            <ion-item>
              <ion-input [value]="dateValue3" placeholder="Choose End Date"  formControlName="end_date" required></ion-input>
              <ion-button fill="clear" id="open-date-input-3">
                <ion-icon icon="calendar"></ion-icon>
              </ion-button>
              <ion-popover trigger="open-date-input-3" show-backdrop="false">
                <ng-template>
                  <ion-datetime
                    #popoverDatetime3
                    presentation="date"
                    (ionChange)="dateValue3 = formatDate2(popoverDatetime3.value)"
                  ></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createTask.controls['end_date'].valid && createTask.controls['end_date'].touched">
              End Date is required.
            </span>
            <ion-item>
              <ion-label>File Attachment</ion-label>
              <ion-checkbox formControlName="has_attachment"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="createTask.get('has_attachment').value === true">
              <input type="file"  (change)="onImagePicked($event)" accept=".pdf, .doc, .docx, .text, .excel, .jpg, .jpeg, .bmp, .png, .eps, .gif, .tif, .tiff">
            </ion-item>
            <ion-button
              ion-button
              type="submit"
              expand="full"
              [disabled]="!createTask.valid"
              >Submit</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

