<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar
    animated="true"
    debounce="800"
    #searchInput
    [(ngModel)]="filterTerm"  slot="start"></ion-searchbar>
    <!-- <ion-icon name="add-sharp" routerLink="/tabs/add-task" slot="end" style="font-weight: 500; font-size: 50px;"></ion-icon> -->
    <!-- <ion-title>  </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="token?.role_name === 'ADMIN' || token?.role_name === 'SUPER_ADMIN' || token?.role_name ==='USER_ADMIN'" expand="full" routerLink="/tabs/add-task">Add Task</ion-button>
  <ion-list *ngFor="let tasks of tasksList | filter:filterTerm">
    <ion-item (click)="onTaskDetails(tasks?.task_id)">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div><ion-label>{{tasks?.task_title}}</ion-label></div>
          </ion-col>
          <!-- <ion-col size="2">
            <div><ion-icon name="list-outline"></ion-icon></div>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div>
              <ion-progress-bar
                value="{{tasks?.task_completion}}"
                class="ion-padding-horizontal"
              ></ion-progress-bar>
            </div>
          </ion-col>
          <ion-col size="4">
            <div>
              <ion-text class="ion-padding-horizontal"
                >{{tasks?.task_completion}}%</ion-text
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- <ng-container >
      <ion-item >
        <ion-icon name="list-outline"></ion-icon>&nbsp;&nbsp;
        <ion-label>
          <h4>{{tasks?.task_title}}</h4>
          <p class="ion-text-wrap">kgnk</p>
          <ion-text><p>₹ 1000</p></ion-text>
        </ion-label>
        <ion-row>
          <ion-progress-bar value="{{tasks?.task_completion}}"  class="ion-padding-horizontal"></ion-progress-bar>
          <ion-text class="ion-padding-horizontal">50%</ion-text>
        </ion-row>
        <ion-row>
          <ion-text class="ion-padding-horizontal">{{tasks?.task_completion}}%</ion-text>
        </ion-row>
      </ion-item>
    </ng-container> -->
</ion-content>
