ion-progress-bar {
  height: 5px;
  border-radius: 5px;
  // width: 180px;

  margin-top: 7px;

}
ion-progress-bar::part(progress){
  --progress-background: red !important;
  // .progress {
  //   :host{
  //     --progress-background: red !important;
  //   }

  // }
}





// .ion-side-menu{
//   width: 600px !important;
//   height: 600px !important;
// }

// ion-select {
//   width: 100%;

//   justify-content: center;
// }
ion-col{
  font-size: 11px;
}
// ion-card{
//   overflow: scroll;
// }

// .your-class {
//   position: fixed;
//   left: 0;
//   // bottom: 10px;
//   right: 0;
// }
// ion-popover {
//   --width: 95%;
//   position: absolute;
// }


ion-slides {
  --bullet-background: black;
  height: 6vh;
  ion-select {
      width: 90%;
      margin: auto;
      justify-content: center;
  }
}


// .addBtn{
//   --padding-bottom: 10px;
//   --padding-end: 30px;
//   --padding-start: 30px;
//   --padding-top: 10px;
// }

ion-button {
  --border-radius: 5px;
}
