ion-progress-bar {
  height: 5px;
  border-radius: 5px;
  margin-top: 7px;
}
ion-progress-bar::part(progress){
  --progress-background: red !important;
}
ion-col{
  font-size: 11px;
}
ion-slides {
  --bullet-background: black;
  height: 6vh;
  ion-select {
      width: 90%;
      margin: auto;
      justify-content: center;
  }
}
ion-button {
  --border-radius: 5px;
}

// ion-content{
//   --ion-background-color: #243640;
// }

.light-back{
  background-color: #4e5d64;
}
