<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/task" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changeRequest" (ngSubmit)="changeRequestForm()">
    <ion-item>
      <ion-select placeholder="Change Request" formControlName="changeRequest">
        <ion-select-option value="d">Extend Date</ion-select-option>
        <ion-select-option value="u">Add Users</ion-select-option>
        <ion-select-option value="r">Remove Users</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="changeRequest.get('changeRequest').value === 'u'">
      <ion-select placeholder="Select Users" formControlName="addUsers" multiple="true">
        <ion-select-option value="m">Manju</ion-select-option>
        <ion-select-option value="v">Vani</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item *ngIf="changeRequest.get('changeRequest').value === 'r'">
      <ion-select placeholder="Remove Users" formControlName="removeUsers"  multiple="true">
        <ion-select-option value="m">Ani</ion-select-option>
        <ion-select-option value="v">Manu</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description" placeholder="Description"></ion-textarea>
    </ion-item>
    <ion-button ion-button type="submit" [disabled]="!changeRequest.valid" expand="full">Submit</ion-button>
  </form>
</ion-content>
