<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>Sub Task</ion-title> -->
    <ion-searchbar
    animated="true"
    debounce="800"
    #searchInput
    [(ngModel)]="filterTerm"  slot="start"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let tasks of subTasksList | filter:filterTerm">
    <ion-item (click)="onSubTaskDetails(tasks?.sub_task_id)">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div><ion-label>{{tasks?.sub_task_title}}</ion-label></div>
          </ion-col>
          <!-- <ion-col size="2">
            <div><ion-icon name="list-outline"></ion-icon></div>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <div>
              <ion-progress-bar
                value="{{tasks?.task_completion}}"
                class="ion-padding-horizontal"
              ></ion-progress-bar>
            </div>
          </ion-col>
          <ion-col size="3">
            <div>
              <ion-text class="ion-padding-horizontal"
                >{{tasks?.task_completion}}%</ion-text
              >
            </div>
          </ion-col>
          <ion-col size="4" *ngIf="tasks?.days_left >= 1">
            <span class="sp">Days Left: </span>{{tasks?.days_left}}
          </ion-col>
          <ion-col size="4" *ngIf="tasks?.days_left < 1">
            <span class="sp">Overdue: </span> <span *ngIf="tasks?.days_left < 1 "><strong style="color:red">{{-tasks?.days_left}}</strong></span>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
            <div *ngIf="tasks?.days_left > 5">
              <ion-icon style="color: green;" name="radio-button-on" ></ion-icon>
            </div>
            <div *ngIf="tasks?.days_left >= 2 && tasks?.days_left <= 5">
              <ion-icon style="color: orange;" name="radio-button-on" ></ion-icon>
            </div>
            <div *ngIf="tasks?.days_left < 2">
              <ion-icon style="color: red;" name="radio-button-on" ></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
