<ion-header>
  <ion-toolbar color="primary"  mode="ios">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/sub-task" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Sub Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createSubTask" (ngSubmit)="createSubTaskSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div padding>
            <ion-item class="box">
              <ion-label position="floating">Subtask Title *</ion-label>
              <ion-input
                type="text"
                formControlName="sub_task_title"
                required></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createSubTask.controls['sub_task_title'].valid && createSubTask.controls['sub_task_title'].touched">
              Subtask title is required.
            </span>
            <ion-item class="box">
              <ion-label position="floating">Description</ion-label>
              <ion-textarea
                formControlName="description"
                ></ion-textarea>
            </ion-item>
            <ion-item class="box">
              <ion-label position="floating">Select Users *</ion-label>
              <ion-select
                formControlName="user_id"
                multiple="true"
                required>
                <ion-select-option
                  *ngFor="let user of allUsers"
                  [value]="user.user_id"
                >
                  {{user.first_name}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createSubTask.controls['user_id'].valid && createSubTask.controls['user_id'].touched">
              User is required.
            </span>
            <ion-item class="box">
              <!-- <ion-label position="floating">Select Task Priority *</ion-label> -->
              <ion-select
                formControlName="sub_task_priority"
                placeholder="Select Task Priority *"
                required>
                <ion-select-option
                  *ngFor="let task of taskPriorities"
                  [value]="task.task_priority"
                required>
                  {{task.task_priority}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createSubTask.controls['sub_task_priority'].valid && createSubTask.controls['sub_task_priority'].touched">
              Task priority is required.
            </span>
            <ion-item class="box">
              <!-- <ion-label position="floating">Select Task Interval *</ion-label> -->
              <ion-select
                formControlName="task_interval"
                placeholder="Select Task Interval *"
                required>
                <ion-select-option
                  *ngFor="let item of intervals"
                  [value]="item.task_interval"
                  >
                  {{item.task_interval}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <span class="error ion-padding" *ngIf="!createSubTask.controls['task_interval'].valid && createSubTask.controls['task_interval'].touched">
              Task interval is required.
            </span>
            <ion-grid class="box">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <!-- <ion-label position="floating">Start Date</ion-label> -->
                    <ion-input [value]="dateValue2"  placeholder="Start Date *" formControlName="start_date" required></ion-input>
                    <ion-button fill="clear" id="open-date-input-2">
                      <ion-icon icon="calendar"></ion-icon>
                    </ion-button>
                    <ion-popover trigger="open-date-input-2" show-backdrop="false">
                      <ng-template>
                        <ion-datetime
                           min="{{dateTill}}"
                          #popoverDatetime2
                          presentation="date"
                          (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
                          showDefaultButtons="true"></ion-datetime>
                      </ng-template>
                    </ion-popover>
                  </ion-item>
                  <!-- <span class="error ion-padding" *ngIf="!createSubTask.controls['start_date'].valid && createSubTask.controls['start_date'].touched">
                    Start date is required.
                  </span> -->
                </ion-col>
                <ion-col>
                  <ion-item>
                    <!-- <ion-label position="floating">End Date</ion-label> -->
                    <ion-input [value]="dateValue3" placeholder="End Date *"  formControlName="end_date" required></ion-input>
                    <ion-button fill="clear" id="open-date-input-3">
                      <ion-icon icon="calendar"></ion-icon>
                    </ion-button>
                    <ion-popover trigger="open-date-input-3" show-backdrop="false">
                      <ng-template>
                        <ion-datetime
                        min="{{dateTill}}"
                        max="{{endD}}"
                          #popoverDatetime3
                          presentation="date"
                          (ionChange)="dateValue3 = formatDate2(popoverDatetime3.value)"
                        showDefaultButtons="true"></ion-datetime>
                      </ng-template>
                    </ion-popover>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <span class="error ion-padding" *ngIf="!createSubTask.controls['end_date'].valid || !createSubTask.controls['start_date'].valid  && createSubTask.controls['end_date'].touched || createSubTask.controls['start_date'].touched">
              Dates is required.
            </span>
            <ion-item class="box">
              <ion-label>File Attachment</ion-label>
              <ion-checkbox formControlName="has_attachment"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="createSubTask.get('has_attachment').value === true" class="box">
              <input type="file"  (change)="onImagePicked($event)" accept=".pdf, .doc, .docx, .text, .excel, .jpg, .jpeg, .bmp, .png, .eps, .gif, .tif, .tiff">
            </ion-item>
            <ion-button
              ion-button
              type="submit"
              expand="full"
              [disabled]="!createSubTask.valid"
              >Submit</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
