<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <h1>MWTeams</h1>
        <img src="../../../assets//img/projects.png">
        <h2>Get more done with MWTeams</h2>
        <p>Plan, track, and organize pretty much anything with anyone</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>

         <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <h1>MWTeams</h1>
        <img src="../../../assets/img/trello.jpg">
        <h2>Get organized</h2>
        <p>Make a MWTeams board to organize anything with anyone.</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
           <!-- Slide 3 -->
           <ion-slide>
            <ion-text color="light">
              <h1>MWTeams</h1>
              <img src="../../../assets/img/task.webp">
              <h2>Add details</h2>
              <p>Open cards to add picture, checklists, and more.</p>
              <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
            </ion-text>
          </ion-slide>
    <!-- Slide 4 -->
    <ion-slide>
      <ion-text color="light">
        <h1>MWTeams</h1>
        <img src="../../../assets/img/teamwork.jpg">
        <h2>Team Up</h2>
        <p>Invite people to join your board, all for free</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>
