<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-subtitle>No of Tasks</ion-card-subtitle>
              <ion-card-title>50</ion-card-title>
            </ion-card-header>

          <!-- <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content> -->
        </ion-card>
        <ion-card color="primary">
            <ion-card-header>
              <ion-card-subtitle>Tasks On Priorority</ion-card-subtitle>
              <ion-card-title>20 <ion-icon name="alert-outline" color="primary"></ion-icon></ion-card-title>
            </ion-card-header>

          <!-- <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content> -->
        </ion-card>
      </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-subtitle>Reports</ion-card-subtitle>
              <ion-card-title>0</ion-card-title>
            </ion-card-header>

          <!-- <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content> -->
        </ion-card>
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle>Reports</ion-card-subtitle>
            <ion-card-title>0</ion-card-title>
          </ion-card-header>

        <!-- <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content> -->
      </ion-card>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>


</ion-content>
